---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout pageTitle={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <h1>Today</h1>
    <p>
      I work as a senior frontend engineer at dbt Labs. I'm continously
      exploring the world of web technologies and building tools to help others
      make their work easier.
    </p>
  </section>
  <section>
    <h2>Recent Posts</h2>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
